<div class="confirm-modal-overlay" (click)="onCancel()">
  <div class="confirm-modal-container" (click)="$event.stopPropagation()">
    <div class="confirm-modal-header">
      <h3>{{ title }}</h3>
    </div>

    <div class="confirm-modal-body">
      <p class="confirm-content">{{ content }}</p>
    </div>

    <div class="confirm-modal-footer">
      <app-button-container
        [content]="cancelText"
        size="md"
        backgroundColor="white"
        border="1px solid var(--neutral-color-200)"
        width="100px"
        color="var(--neutral-color-800)"
        borderRadius="8px"
        (click)="onCancel()"
      ></app-button-container>

      <app-button-container
        [content]="confirmText"
        size="md"
        backgroundColor="var(--utility-600)"
        width="120px"
        color="white"
        borderRadius="8px"
        (click)="onConfirm()"
      ></app-button-container>
    </div>
  </div>
</div>
